@model AMS.Models.Scholarships

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutRegistrar.cshtml";
}

<div class="app-content">
    <h4>Edit Scholarship</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Percentage" class="control-label"></label>
                    <input asp-for="Percentage" class="form-control" />
                    <span asp-validation-for="Percentage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>