@{
    ViewData["Title"] = "About";
}
<h2 style="text-align: center"><b>New Prottasha High School</b></h2>
<h2>
    Mission
</h2>
<p>Quality education is our mission.Our School strives to make children confident and creative builders of their future. Our focus is on the whole child. We work toward an integrated curriculum that reaches across disciplines and age levels; the students are encouraged to meet academic challenges with openness, enthusiasm, and a willingness to solve problems. We aim for an atmosphere of cooperation, with respect for individual differences and community values.</p>

<hr />
<h2>About</h2>
<p>Knowledge is Power. So learn something.</p>

<hr />
<h2>Impressum</h2>
<p>Come in clean with neat, unwrinkled clothing; try to look neat but cool at same time</p>

<hr />
<h2>Awards</h2>
<p>Many Student Got A+</p>

<hr />

<h2>Products</h2>
<p>
    Primary Level Education <br />
    High Level Education<br />
    Music School<br />
    Media & Communication School<br />
    Art School<br />
</p>