@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<address>
    Md Mofizur Rahman (Manik) <br />
    <b>Founder & Headmaster</b> <br /> <br />

   <h3>New Prottasha High School</h3>
   <b>Address :</b> Kurmitola High School Road, Khilkhet, Dhaka-1229 <br />
   <b>Email   :</b> newprottashahighschool@gmail.com <br />
   <b>Mobile  :</b> 01726341545, 01976341545<br />
</address>


