@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutRegistrar.cshtml";
}

<link href="~/css/table.css" rel="stylesheet" />

<div class="app-content">
    <h1 class="text-center">Welcome To Registrar Pannel</h1>
    
    <br/>
    
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>
                <b>Total Student</b>
            </td>
            <td>
                @ViewBag.totalStudent Person
            </td>
        </tr>
        <tr>
            <td>
                <b>Total Staff</b>
            </td>
            <td>
                @ViewBag.totalStaff Person
            </td>
        </tr>
        </thead>
    </table>
</div>
